{% extends 'economic_exchanges/base.html' %}

{% block page_title %}
<div class="pagetitle">
  <h1>Questions fréquement posées</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' user.pk %}">Accueil</a></li>
      <!-- <li class="breadcrumb-item">Pages</li> -->
      <li class="breadcrumb-item active">Foire Aux Questions</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

{% endblock %}

{% block content %}

<section class="section faq">
  <div class="row">
    <div class="col-lg-6">

      <div class="card basic">
        <div class="card-body">
          <h5 class="card-title">Questions fréquement posées</h5>
           
          <div>
            <h6>1. Quels sont les avantages de l'application pour les opérateurs économiques de la RDC ?</h6>
            <p>L'application offre de nombreux avantages aux opérateurs économiques de la République Démocratique du Congo. En utilisant notre plateforme, les entreprises peuvent simplifier leurs interactions avec le gouvernement, accéder plus facilement aux informations et aux services fournis par le ministère de l'Économie, et bénéficier d'un processus plus efficace pour les procédures administratives liées à leurs activités commerciales.
          </div>

          <div class="pt-2">
            <h6>2. Comment puis-je m'inscrire sur l'application ?</h6>
            <p>Pour vous inscrire sur notre application, vous devez d'abord créer un compte en fournissant quelques informations de base telles que votre nom, votre adresse e-mail et les détails de votre entreprise. Une fois votre compte créé, vous pourrez accéder à toutes les fonctionnalités de l'application et commencer à bénéficier de ses avantages.
          </div>

          <div class="pt-2">
            <h6>3. Est-ce que l'application est gratuite ?</h6>
            <p> Oui, notre application est entièrement gratuite pour les opérateurs économiques de la RDC. Nous croyons fermement à la promotion de l'innovation et du développement économique, c'est pourquoi nous offrons nos services gratuitement afin de faciliter la relation entre les entreprises et le gouvernement.
          </div>

        </div>
      </div>

    </div>

    <div class="col-lg-6">

      <!-- F.A.Q Group 1 -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Actualités</h5>

          <div class="accordion accordion-flush" id="faq-group-1">

            <!-- <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-bs-target="#faqsOne-1" type="button" data-bs-toggle="collapse">
                  Debitis adipisci eius?
                </button>
              </h2>
              <div id="faqsOne-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                <div class="accordion-body">
                  Ut quasi odit odio totam accusamus vero eius. Nostrum asperiores voluptatem eos nulla ab dolores est asperiores iure. Quo est quis praesentium aut maiores. Corrupti sed aut expedita fugit vero dolorem. Nemo rerum sapiente. A quaerat dignissimos.
                </div>
              </div>
            </div> -->

          </div>

        </div>
      </div><!-- End F.A.Q Group 1 -->

      <!-- F.A.Q Group 2 -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ressources</h5>

          <div class="accordion accordion-flush" id="faq-group-2">

            <!-- <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-bs-target="#faqsTwo-1" type="button" data-bs-toggle="collapse">
                  Cumque voluptatem recusandae blanditiis?
                </button>
              </h2>
              <div id="faqsTwo-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-2">
                <div class="accordion-body">
                  Ut quasi odit odio totam accusamus vero eius. Nostrum asperiores voluptatem eos nulla ab dolores est asperiores iure. Quo est quis praesentium aut maiores. Corrupti sed aut expedita fugit vero dolorem. Nemo rerum sapiente. A quaerat dignissimos.
                </div>
              </div>
            </div> -->
          </div>

        </div>
      </div><!-- End F.A.Q Group 2 -->

      <!-- F.A.Q Group 3 -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Contact</h5>

          <div class="accordion accordion-flush" id="faq-group-3">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-bs-target="#faqsThree-1" type="button" data-bs-toggle="collapse">
                  Besoin d'aide supplémentaire ? 
                </button>
              </h2>
              <div id="faqsThree-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-3">
                <div class="accordion-body">
                  N'hésitez pas à nous contacter pour toute question ou préoccupation. Nous sommes là pour vous aider !</div>
                  <p class="small mb-0"></p>
                  <a href="{% url 'contact' user.pk%}" class="btn btn-primary w-50">Nous contacter !</a>
                </div>
            </div>

          </div>

        </div>
      </div><!-- End F.A.Q Group 3 -->

    </div>

  </div>
</section>

{% endblock %}


   
