{% extends 'economic_exchanges/base.html' %}

{% block page_title %}
    <div class="pagetitle">
        <h1>Mes fournisseurs</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' user.pk %}">Accueil</a></li>
                <!-- <li class="breadcrumb-item">Users</li> -->
                <li class="breadcrumb-item active">Mes fournisseurs</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
{% endblock %}
{% block content %}

<p>{{ suppliers|length }} fournisseurs en République Démocratique du Congo</p>
<ul>
        {% for supplier in suppliers %}
        <li><a href="{% url 'supplier-detail' supplier.id %}">{{supplier.company_name}}</a></li>
        {% endfor %}
</ul>
{% endblock %}