{% extends 'economic_exchanges/base_login.html' %}

{% block content %}

<div class="card mb-3">
  <div class="card-body">

    <div class="pt-4 pb-2">
      <h5 class="card-title text-center pb-0 fs-4">Créer un compte</h5>
      <p class="text-center small">Entrer vos informations personnelles pour créer le compte</p>
    </div>

    <form id="registrationForm" method="POST" class="row g-1 needs-validation" novalidate>
      {% csrf_token %}
      {{form}}

      {% for field in form %}
        <label for="" class="form-label">  {{field.label_tag}}</label>
        {{field}}
        
        <div class="invalid-feedback"></div>
      {% endfor %}
      
      <!-- </div> -->
      <div>

      <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">Créer compte</button>
      </div>

      <div class="col-12">
        <p class="small mb-0">Etes-vous prêt à démarrer ? <a href="{% url 'login' %}">Se connecter</a></p>
      </div>
    </form>

  </div>
</div>
<!-- <div> -->

</div>

<!-- <script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('#registrationForm');

    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Empêcher la soumission du formulaire par défaut

        // Réinitialiser les messages d'erreur existants
        const errorMessages = form.querySelectorAll('.invalid-feedback');
        errorMessages.forEach(errorMessage => {
            errorMessage.textContent = ''; // Effacer le contenu des messages d'erreur
            errorMessage.style.display = 'none'; // Masquer les messages d'erreur
        });

        // Vérifier les erreurs de chaque champ du formulaire
        const inputs = form.querySelectorAll('input');
        let formIsValid = true; // Définir une variable pour suivre l'état global de la validité du formulaire
        inputs.forEach(input => {
            if (!input.checkValidity()) {
                // Récupérer l'élément suivant pour afficher l'erreur
                const errorElement = input.nextElementSibling;
                if (errorElement && errorElement.classList.contains('invalid-feedback')) {
                    // Afficher l'erreur
                    errorElement.textContent = input.validationMessage;
                    errorElement.style.display = 'block'; // Rendre visible
                }
                formIsValid = false; // Mettre à jour l'état global du formulaire
            } else {
                // Effacer les messages d'erreur pour les champs valides
                const errorElement = input.nextElementSibling;
                if (errorElement && errorElement.classList.contains('invalid-feedback')) {
                    errorElement.textContent = ''; // Effacer le contenu des messages d'erreur
                    errorElement.style.display = 'none'; // Masquer les messages d'erreur
                }
            }
        });

        // Soumettre le formulaire si tous les champs sont valides
        if (formIsValid) {
            form.submit();
        }
    });
});
</script> -->

<script>

document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('#registrationForm');

    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Empêcher la soumission du formulaire par défaut

        // Réinitialiser les messages d'erreur existants
        const errorMessages = form.querySelectorAll('.invalid-feedback');
        errorMessages.forEach(errorMessage => {
            errorMessage.textContent = ''; // Effacer le contenu des messages d'erreur
            errorMessage.style.display = 'none'; // Masquer les messages d'erreur
        });

        // Vérifier les erreurs de chaque champ du formulaire
        const inputs = form.querySelectorAll('input');
        let formIsValid = true; // Définir une variable pour suivre l'état global de la validité du formulaire
        let password = ''; // Stocker la valeur du champ de mot de passe
        let confirmPassword = ''; // Stocker la valeur du champ de confirmation de mot de passe
        inputs.forEach(input => {
            if (input.type === 'password') {
                if (input.name === 'password1') {
                    password = input.value;
                } else if (input.name === 'password2') {
                    confirmPassword = input.value;
                }
            }

            if (!input.checkValidity()) {
                // Récupérer l'élément suivant pour afficher l'erreur
                const errorElement = input.nextElementSibling;
                if (errorElement && errorElement.classList.contains('invalid-feedback')) {
                    // Afficher l'erreur
                    errorElement.textContent = input.validationMessage;
                    errorElement.style.display = 'block'; // Rendre visible
                }
                formIsValid = false; // Mettre à jour l'état global du formulaire
            } else {
                // Effacer les messages d'erreur pour les champs valides
                const errorElement = input.nextElementSibling;
                if (errorElement && errorElement.classList.contains('invalid-feedback')) {
                    errorElement.textContent = ''; // Effacer le contenu des messages d'erreur
                    errorElement.style.display = 'none'; // Masquer les messages d'erreur
                }
            }
        });

        // Vérifier si les champs de mot de passe et de confirmation de mot de passe sont identiques
        if (password !== confirmPassword) {
            const confirmPasswordInput = form.querySelector('input[name="password2"]');
            const errorElement = confirmPasswordInput.nextElementSibling;
            if (errorElement && errorElement.classList.contains('invalid-feedback')) {
                errorElement.textContent = 'Les mots de passe ne correspondent pas';
                errorElement.style.display = 'block'; // Rendre visible
            }
            formIsValid = false; // Mettre à jour l'état global du formulaire
        }

        // Soumettre le formulaire si tous les champs sont valides
        if (formIsValid) {
            form.submit();
        }
    });
});

</script>

{% endblock %}