{% extends 'economic_exchanges/base_login.html' %}

{% block content %}

{% if user.is_authenticated %}
    {% redirect("url 'register'") %}
{% else %}
    <!-- <p class="small mb-0">Problème de connexion. <a href="{% url 'login' %}">Réessayez de se connecter</a></p> -->
    <div class="card mb-3">

        <div class="card-body">
            <p class="small mb-0">Problème de connexion. <a href="{% url 'login' %}">Réessayez de se connecter</a></p>
    
            <!-- <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Se connecter à votre compte</h5>
                <p class="text-center small">Entrer votre nom d'utilisateur et mot de passe pour se connecter</p>
            </div>
    
            <form id="loginForm" method="post" class="row g-3 needs-validation" novalidate>
                {% csrf_token %}
                
    
                <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Se connecter</button>
                </div>
                <div class="col-12">
                    <p class="small mb-0">Vous n'avez pas de compte ? <a href="{% url 'register' %}">Créer votre compte</a></p>
                </div>
            </form> -->
    
        </div>
    </div>
    
{% endif %}

{% endblock %}